@model BrainSystem.OS.MVC.ViewModels.ProdutosFalhadosViewModel

<label for="cboLocalizacaoFalha" class="form-label">Localização Falha</label>
@Html.DropDownListFor(model => model.IdLocalizacao, Model.LocalizacoesFalhas, new { @class = "form-control m-bot15", @id="cboLocalizacaoFalha" })              